body {
  /* Set background image */
  /* background-image: url("./assets/man.jpg"); */
  /* Adjust background properties as needed */
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  /* color: white; */
  background-color: #2f2fa2;
  color: white;
}

form input {
  color: black;
}
.layout {
  width: 100%;
  margin: 0;
  padding: 0;
}
.content-wrapper {
  max-width: calc(1174px + 30px);
  width: 100%;
  margin: 0 auto;
  padding: 15px 15px;
}
.circle {
  background: #242582;
  border-radius: 50%;
  width: 800px;
  height: 800px;
  /* background-image: url("./assets/stagOne.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; */
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.circleTwo {
  background: #242582;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  animation: 15s linear infinite;
  /* background-image: url("./assets/stagOne.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; */
}
.circleThree {
  background: #242582;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  /* background-image: url("./assets/stagOne.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; */
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.circleFour {
  background: #242582;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  /* background-image: url("./assets/stagOne.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; */
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.circleFive {
  background: #242582;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  /* background-image: url("./assets/stagOne.jpg");
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;  */
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

@keyframes moveCircles {
  0% {
    top: 0%;
  }
  20% {
    transform: top(20%);
  }
  100% {
    transform: top(50%);
  }
}
#dark {
  background-color: black;
  color: white;
}
header {
  padding-top: 2rem;
}
.flipping {
  width: 67.2px;
  height: 67.2px;
  display: grid;
}

.flipping:before,
.flipping:after {
  content: "";
  grid-area: 1/1;
  background-color: #f64c72;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    75% 25%,
    0 0,
    0 100%,
    100% 100%,
    25% 75%,
    0 0
  );
  animation: flipping-0ft1ismd 1.5s infinite linear;
}

.flipping:after {
  clip-path: polygon(0 0, 76% 24%, 100% 100%, 24% 76%);
  --s: 0;
}

@keyframes flipping-0ft1ismd {
  0% {
    transform: perspective(112px) rotate3d(1, var(--s, 1), 0, 0);
  }

  25% {
    transform: perspective(112px) rotate3d(1, var(--s, 1), 0, -90deg);
  }

  25.01% {
    transform: perspective(112px) rotate3d(1, var(--s, 1), 0, -90deg);
  }

  40%,
  60% {
    transform: perspective(112px) rotate3d(1, var(--s, 1), 0, -180deg);
  }

  75% {
    transform: perspective(112px) rotate3d(1, var(--s, 1), 0, -270deg);
  }

  75.01% {
    transform: perspective(112px) rotate3d(1, var(--s, 1), 0, -270deg);
  }

  90%,
  100% {
    transform: perspective(112px) rotate3d(1, var(--s, 1), 0, -360deg);
  }
}
.snow-ball-container .snow-ball {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: white;
}

.snow-ball-container .snow-ball:nth-child(even) {
  position: absolute;
  width: 16px;
  height: 16px;
  animation: flake-motion 15s linear infinite;
}

.snow-ball-container .snow-ball:nth-child(1) {
  top: -50%;
  left: 5%;
  width: 20px;
  height: 20px;
  animation: snowball-animation 12s linear 2s infinite;
}

.snow-ball-container .snow-ball:nth-child(2) {
  top: -20%;
  left: 10%;
}

.snow-ball-container .snow-ball:nth-child(3) {
  top: -50%;
  left: 15%;
  animation: snowball-animation 12s linear infinite;
}

.snow-ball-container .snow-ball:nth-child(4) {
  top: -10%;
  left: 20%;
}

.snow-ball-container .snow-ball:nth-child(5) {
  top: -20%;
  left: 25%;
  width: 20px;
  height: 20px;
  animation: snowball-animation 12s linear 2s infinite;
}

.snow-ball-container .snow-ball:nth-child(6) {
  top: -40%;
  left: 30%;
}

.snow-ball-container .snow-ball:nth-child(7) {
  top: -30%;
  left: 35%;
  width: 5px;
  height: 5px;
  animation: snowball-animation 12s linear infinite;
}

.snow-ball-container .snow-ball:nth-child(8) {
  top: -20%;
  left: 40%;
}

.snow-ball-container .snow-ball:nth-child(9) {
  top: -50%;
  left: 45%;
  width: 5px;
  height: 5px;
  animation: snowball-animation 12s linear 2s infinite;
}

.snow-ball-container .snow-ball:nth-child(10) {
  top: -5%;
  left: 50%;
}

.snow-ball-container .snow-ball:nth-child(11) {
  top: -20%;
  left: 60%;
  animation: snowball-animation 12s linear infinite;
}

.snow-ball-container .snow-ball:nth-child(12) {
  top: -10%;
  left: 70%;
}

.snow-ball-container .snow-ball:nth-child(13) {
  top: -50%;
  left: 80%;
  width: 5px;
  height: 5px;
  animation: snowball-animation 12s linear 2s infinite;
}

.snow-ball-container .snow-ball:nth-child(14) {
  top: -20%;
  left: 90%;
}

.snow-ball-container .snow-ball:nth-child(15) {
  top: -50%;
  left: 95%;
  width: 30px;
  height: 30px;
  animation: snowball-animation 12s linear infinite;
}

@keyframes snowball-animation {
  0% {
    transform: translate(0);
    opacity: 1;
  }

  20% {
    transform: translate(4px, 100px);
    opacity: 0.8;
  }

  40% {
    transform: translate(-7px, 200px);
    opacity: 0.7;
  }

  60% {
    transform: translate(10px, 400px);
    opacity: 0.5;
  }

  80% {
    transform: translate(-14px, 700px);
    opacity: 0.2;
  }

  100% {
    transform: translate(16px, 750px);
    opacity: 0;
  }
}
@keyframes flake-motion {
  0% {
    transform: translate(-2px, 0);
    opacity: 1;
  }

  20% {
    transform: translate(-9px, 200px);
    opacity: 0.9;
  }

  40% {
    transform: translate(14px, 300px);
    opacity: 0.7;
  }

  60% {
    transform: translate(-22px, 400px);
    opacity: 0.6;
  }

  80% {
    transform: translate(30px, 600px);
    opacity: 0.5;
  }

  90% {
    transform: translate(-40px 800px);
    opacity: 0.3;
  }

  100% {
    transform: translate(52px, 850px);
    opacity: 0;
  }
}

.blob {
  border-radius: 31% 69% 18% 82% / 56% 29% 71% 44%;
  width: 377px;
  height: 377px;
  background-image: url("./assets/about.jpg");
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
}
.glass {
  /* From https://css.glass */
  background: rgba(47, 47, 162, 0.74);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(47, 47, 162, 0.43);
}
.signup {
  /* From https://css.glass */
  background-color: white;
  color: #f64c72;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.bouncyCircle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #553d67;
  animation: bounceCircle 4s ease-in-out infinite;
  z-index: -10;
}

@keyframes bounceCircle {
  0% {
    transform: translateY(-100%) translateX(0);
  }
  10% {
    transform: translateY(-100%) translateX(0);
  }

  50% {
    transform: translateY(0) translateX(100%);
  }
  100% {
  }
}

.superhero {
  width: 42px;
  height: 42px;
  animation: flying 8s infinite;
}

@keyframes flying {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}

@media screen and (max-width: 400px) {
  .circle {
    width: 300px;
    height: 300px;
  }
  .circleTwo {
    width: 200px;
    height: 200px;
  }
  .circleThree {
    width: 100px;
    height: 100px;
  }
  .circleFour {
    width: 50px;
    height: 50px;
  }
}
